<template>
  <fieldset>
    <label :for="schema.id" v-text="schema.label"></label>
    <input
      :class="{ error: validation.$error && validation.$dirty }"
      :type="schema.type"
      :id="schema.id"
      :name="schema.id"
      :disabled="schema.disable"
      :value="inputConfiguration[schema.id]"
      @input="valueUpdated"
    />
  </fieldset>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { iInputs } from "@/store/models/inputFormTypes";

@Component({})
export default class Input extends Vue {
  @Prop() schema!: iInputs;
  @Prop() inputConfiguration!: any;
  @Prop() validation!: any;

  private valueUpdated($event: any) {
    const value = this.schema.type === "number" ? Number($event.target.value) : $event.target.value;

    this.validation.$touch();
    this.$emit("input", { id: $event.target.id, value: value });
  }
}
</script>

<style scoped>
.error {
  border-color: red;
  background: #FDD;
}

input {
  outline: none;
}
fieldset {
  display: inline-block;
  width: 50%;
}
fieldset label {
  display: block;
  text-align: left;
}

</style>