<template>
  <div>
    <h5>Title</h5>
    <div class="buttons-container">
      <span v-for="radioButton in linkLegModes" :key="radioButton.id">
        <RadioButton :model="radioButton" :radioButtonSelected="radioButtonSelected" @input="setRadioButtonSelected"/>
      </span>
    </div>

    <div class="input-container">
      <Input v-for="input in radioButtonSelected.fields" :key="input.id" 
        :schema="input"
        :inputConfiguration="inputConfigurations"
        :validation="$v.inputConfigurations[input.id]"
        @input="inputUpdated" />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import { getModule } from "vuex-module-decorators"
import { iRadioButtons } from "@/store/models/inputFormTypes";
import InputStore from "@/store/modules/InputState"
import Input from "@/components/Input.vue";
import RadioButton from "@/components/RadioButton.vue";
import { validationMixin } from 'vuelidate';
import { maxLength } from 'vuelidate/lib/validators'



const store = getModule(InputStore);

@Component({
  components: {
    Input,
    RadioButton
  },
  mixins: [validationMixin],
  validations: {
    inputConfigurations: {
      ratio: {
        length: maxLength(4)
      },
      shares: {
        length: maxLength(4)
      },
      notional: {
        length: maxLength(2)
      }
    }
  }
})
export default class InputFormBuilder extends Vue {

  get inputConfigurations() {
    return store.inputsModel
  }

  get stock() {
    return store.getStock
  }

  //Get and Set the options selected by the user
  get radioButtonSelected() {
    return store.radioButtonSelected;
  }

  //Get all radio buttons options to show
  get linkLegModes(): iRadioButtons[] {
    return store.radioButtons;
  }
  
  public setRadioButtonSelected(newRadioButtonSelected: iRadioButtons) {
    store.setRadioButtonSelected(newRadioButtonSelected);
  }

  public inputUpdated(newValue: any) {
    store.setNewValueInModel(newValue);

    if (this.radioButtonSelected.id === "sizeratio") {
      this.calculateNotional(newValue.id);
    }
  }

  public calculateNotional(id: string) {
    let { ratio, shares } = this.inputConfigurations;
    const { price, stock } = this.stock;
    const totalStockPrice = price * stock;

    switch(id) {
      case "ratio": 
        shares = price * ratio
        store.setNewValueInModel({id: "shares", value: shares})
        break
      case "shares":
        ratio = (shares / totalStockPrice) * 100
        store.setNewValueInModel({id: "ratio", value: ratio})
        break
    }
    
    store.setNewValueInModel({id: "notional", value: (price * shares)})
  }
}
</script>

<style scoped>
h5 {
  margin: 0 0 10px;
}
fieldset {
  border: none;
  margin: 0;
}

.buttons-container {
  display: flex;
  margin: 0 0 15px
}
.buttons-container span {
  margin: 0 10px 0 0;
}

.input-container {
  max-width: 50%;
}
</style>
