<template>
  <fieldset>
      <input
        name="inputSelection"
        type="radio"
        :id="model.id"
        :value="model"
        @input="valueUpdated"
      />
    <span class="notcheckmark" :class="{ checkmark: radioButtonSelected.id === model.id }"></span>
    <label :for="model.id" v-text="model.label"></label>
  </fieldset>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { iRadioButtons } from "@/store/models/inputFormTypes";

@Component({})
export default class RadioButton extends Vue {
  @Prop() model!: iRadioButtons;
  @Prop() radioButtonSelected!: iRadioButtons;


  public valueUpdated($event: any) {
    this.$emit('input', this.model);
  }
}
</script>

<style scoped>
fieldset {
  position: relative;
  padding: 0 0 0 20px;
}
input {
  display: none;
}
label {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
span {
  background-color: #eee;
  border-radius: 50%;
  height: 15px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 15px;
}
.notcheckmark {
  background-color: #fff;
}
.checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  background: white;
  border-radius: 50%;
  display: block;
  content: "";
  height:11px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 11px;
}
</style>
