<template>
  <div id="app">
    <InputFormBuilder />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import InputFormBuilder from "@/components/InputFormBuilder.vue";

@Component({
  components: {
    InputFormBuilder
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  background-color: #000;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  margin-top: 60px;
  padding: 20px 10px 30px;
}
</style>
